<!DOCTYPE html>
<html lang="en">
  <%- include('./parts/head.ejs') %>
  <body>
    <%- include('./parts/header.ejs') %>
    <main class="container">
      <section class="details">
        <div>
          <h3 class="details-title"><%= blog.title %></h3>
          <a data-id="<%= blog._id %>" class="btn delete">Delete</a>
        </div>
        <p class="details-snippet"><%= blog.snippet %></p>
        <p class="details-body"><%= blog.body %></p>
      </section>
    </main>

    <script>
      const button = document.querySelector(".delete");

      button.addEventListener("click", () => {
        const endpoint = `/blog/${button.dataset.id}`;

        fetch(endpoint, { method: "DELETE" })
          .then((response) => response.json())
          .then((data) => window.location.replace("/"))
          .catch((err) => console.log(err));
      });
    </script>
  </body>
</html>
